html 
{
    max-width: 100%;
    overflow-x: hidden;
}
:root 
{
    --LightOrange: rgb(255, 105, 64);
    --OffWhite: #eaeaea;
    --OfferWhite: #d7d7d7;
    --OffererWhite: #b4b4b4;
    --Grey: #b9b9b9;
    --DarkGrey: #3b3b3b;
    --SlightlyDarkerGrey: #909090;
    --MediumGrey: #5f5f5f;
    --Violet: #ef40ff;
    --Invisible: rgba(0,0,0,0.01)
}
a
{
    text-decoration: none;
}
header
{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    left: 0%;
    height: 4%;
    background-color: var(--DarkGrey);
    align-items: center;

}
.fakefooter
{
    position: relative;
    top: 270vh;
    z-index: -50;
    width: 105%;
    left: -2.5%;
    height: 10%;
    background-color: var(--DarkGrey);
    display: flex;

}
.aboutblock
{
    width: 85%;
    height: 90vh;
    max-height: 125vw;
    padding-left: 0;
    padding-right: 0;
    background-image: linear-gradient(var(--Grey), var(--SlightlyDarkerGrey));
    padding: 0;
    margin: auto;
    border-radius: 6.5vmin;
    z-index: 10;
    display:flex;
    flex-wrap: wrap;
    padding-top: 4vh;
    align-items: center;
    box-shadow: 3px 3px 12px black;
}
.paragraphheadertext
{
    font-family: Dela Gothic One;
    font-size: 5vmin;
    text-align: left;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0 0 2px black;
}
.textcontent
{
    width: 70%;
    margin: 5%;
    position: relative;
    text-shadow: 0 0 2px black;
    top: -3vmax;
    flex-basis: 70%;
}
.paragraph
{
    position: absolute;
    font-family: Inter Tight;
    font-size: 2.5vw;
    text-align: left;
    color: white;
    letter-spacing: 1px;
}
body
{
    background-color: var(--OffWhite);
    padding-left: 0;
    padding-right: 0;
    background-image: url("GridTexture.png");
}
.colorsplashtop
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin:auto;
    left:-0.0%;
}
.splash
{
    width: 10%;
}
.dividerline
{
    position: relative;
    background-image: linear-gradient(to right, var(--MediumGrey), var(--Grey));
    height: 6vh;
    width:100%;
    left:0;
    top: 10%;
    align-items: center;
}
.mainbodyleft
{
    z-index: -3;
    position:relative;
    height: 32vw;
    width: 80%;
    float:left;
    left:-4vw;
    top: 15%;
    margin:auto;
    background-image: linear-gradient(var(--OfferWhite), var(--OffererWhite));
    border-radius: 5vmin;
    rotate: 3deg;
    margin-bottom: 10%;
    text-align: right;
    align-content: center;
    box-shadow: 3px 3px 12px black;
}
.mainbodyright
{
    z-index: -3;
    position:relative;
    height: 32vw;
    width: 80%;
    float:right;
    right:-4vw;
    top: 15%;
    margin:auto;
    background-image: linear-gradient(var(--OfferWhite), var(--OffererWhite));
    border-radius: 5vmin;
    rotate: -3deg;
    margin-bottom: 10%;
    text-align: left;
    align-content: center;
    box-shadow: -3px 3px 12px black;
}
.mainbodytitle
{
    position: absolute;
    width: 100%;
    top: -4.5vmax;
    margin: 1vh;
    font-size: 5vmin; 
    font-family: Dela Gothic One;
    text-shadow: 2px 1px var(--Violet);
}
.workcontainer
{
    position: relative;
    width: auto;
    height: auto;
    margin: 4vw;
    bottom: 5%;
    align-content:center;
    display: flex;
}
.decotypography
{
    width:100%;
    height:100%;
    font-size: 2.5vmax;
    margin:auto;
    font-family: "Jacquarda Bastarda 9";
    text-overflow: clip;
    text-wrap:nowrap;
    overflow: hidden;
    color:var(--Violet);
    text-align: left;
    float:left;
}
.decotypographyleft
{
    position:relative;
    font-size: auto;
    margin:auto;
    font-family: "Jacquarda Bastarda 9";
    text-overflow: clip;
    text-wrap:nowrap;
    overflow: hidden;
    color:var(--Violet);
    text-align: left;
    float:left;
}
.decotypographyright
{
    position:relative;
    font-size: auto;
    margin:auto;
    font-family: "Jacquarda Bastarda 9";
    text-overflow: clip;
    text-wrap:nowrap;
    overflow: hidden;
    color:var(--Violet);
    text-align: right;
    float:right;
}
.sectiontitleleft
{
    position:relative;
    color: var(--LightOrange);
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    font-family: "Righteous";
    font-size: 9vmin;
    top:-131%;
    left: 2vh;
    width:auto;
}
.sectiontitleright
{
    position:relative;
    color: var(--LightOrange);
    text-align: left;
    font-family: "Righteous";
    font-size: 9vh;
    top:-9vh;
    right: 2vh;
}
.scribbleleft
{
    position: absolute;
    width: 20vw;
    height: 20vw;
    right: -24vw;
    align-self:center;
}
.scribbleright
{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: -24vw;
    align-self:center;
}
.profilepicture
{
    width: 33vmin;
    height: 33vmin;
    position: relative;
    margin: 10%;
    top: 3vmin;
    border-radius: 10%;
    box-shadow: 3px 3px 6px black;
}
.linkbar
{
    position:relative;
    display:flex;
    width: auto;
    height: 4vmin;
    padding: 3px;
    margin-left: 15%;
    margin-right: 15%;
    align-self: center;
    border-radius: 10000px;
    background-color: var(--OffererWhite);
    box-shadow: 3px 3px 6px black;
    flex-basis: 100%;
    
}
.linkitem
{
    margin-left:auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10000px;
    height: auto;
    background-color: var(--MediumGrey);
    align-items: center;
    display: flex;
    box-shadow: 1px 1px 2px black;
    border: 2px solid var(--Invisible);
    transition-duration: 0.15s;
}
.linkitem:hover
{
    border: 2px solid white;
    box-shadow: 2px 2px 4px black;
    transition-duration: 0.15s;
}
.linkicon
{
    height: 90%;
    width: auto;
    margin: auto;
    left: 10%;
    right: 10%;

}
.linktitle
{
    position:absolute;
    width: auto;
    height: 4vh;
    padding: 3px;
    left: 10%;
    right: 10%;
    bottom: 50%;
    margin:autp;
    align-self: center;
    text-align: center;
    font-size: 3.5vmin;
    font-family: "Righteous";
}
.workshowcase
{
    padding: 1vw;
    position: relative;
    width: 20vw;
    height: 20vw;
    align-content: center;
}
.workthumbnail
{
    width: auto;
    height: 100%;
    margin:auto;
    border-radius: 10%;
    border: 2px double white;
    box-shadow: 1px 1px 4px black;
    transition-duration: 0.15s;


}
.workthumbnail:hover
{
    box-shadow: 2px 2px 8px black;
    border: 3px double var(--LightOrange);
    transition-duration: 0.15s;
}
.workname
{
    position: absolute;
    margin: 6px;
    width:auto;
    height: 1vh;
    text-align: center;
    align-self: center;
    font-family: Inter Tight;
    font-size: 1.34vmax;
}
